<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Rack Reqorder</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link <%= active? %>" href=<%= pathy("/") %>>Dashboard</a></li>
      <a class="nav-item nav-link <%= active?(:errors) %>" href=<%= pathy("/errors") %>>Errors Monitor</a></li>
      <a class="nav-item nav-link <%= active?(:recordings) %>" href=<%= pathy("/recordings") %>>Recordings Monitor</a></li>
    <a class="nav-item nav-link <%= active?(:metrics) %>" href=<%= pathy("/metrics") %>>Metrics Monitor</a></li>
    </div>
  </div>
</nav>
